        <link href="/res/site/css2/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/res/site/js2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/res/site/images/01_LOGO ORIGINAL.png" />
        <title>Senha Alterada</title>

        <link rel="stylesheet" href="/res/site/css/bootstrap.min.css">
         <!-- Custom Theme files -->
        <link href="/res/site/css2/style.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="/res/site/css/style.css"> 
<style type="text/css">
    
    body {

        background-color: #ccc;
    }

</style>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Senha Alterada!</h4>
                    <p>Tente fazer o login com sua nova senha.<br><a href="/login">Clique aqui</a> para fazer o login.</p>
                </div>                  
            </div>
        </div>
    </div>
</div>